<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Weather App</h1>

    <div id="app">
        <section>
            <div class="">
                <h2>Where will you be going?</h2>
                <input type="text" id="city" placeholder="Enter city here">
                <input type="text" id="country" placeholder="Enter country here">
                <input id="date" type="date">
                <button id="generate" type="submit">Get Holiday Data</button>
            </div>

        </section>

        <section>
            <div class="data hidden">
                <h2>Holiday Details</h2>
                <ul id="results">
                   <p></p>
                </ul>

                <img src="" alt="">
                
            </div>
        </section>

    </div>

</body>

</html>