<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="center">Weather App</h1>

    <div id="app">
        <section>
            <div class="info">
                <h2 class="center">Where and when will you be going?</h2>
                <div class="dataInput">
                    <input type=" text" id="city" placeholder="Enter city here">
                    <input type="text" id="country" placeholder="Enter country here">
                    <input id="date" type="date">
                </div>

                <button id="generate" class="center" type="submit">Get Holiday Data</button>

            </div>


        </section>

        <section>
            <div class="data hidden">
                <div id="results">


                </div>

            </div>
        </section>

    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>